.navbar-default .navbar-nav>li>a {
  text-align: center;
}
.navbar-default .navbar-right {
  margin: 0;
  &>li {
    float: right;
  }
}


  @media screen and (min-width: 768px) {
    nav {
      li a {
        @include scale(1);
        @include transition-property(all);
        @include transition-duration(0.1s);
        &:hover, &.active {
          @include scale(1.2);
        }
      }
    }
  }

nav {

  .navbar-toggle {
    border-radius: 0;
  }

  .googleplus-link:hover {
    background-color: $bc-google-plus !important;
  }
  .linkedin-link:hover {
    background-color: $bc-linkedin !important;
  }
  .github-link:hover {
    background-color: $bc-github !important;
  }
  .rss-link:hover {
    background-color: $bc-rss !important;
  }
  .stackoverflow-link:hover {
    background-color: $bc-stackoverflow !important;
  }
}
