_site/about
_site/archive
_site/assets
_site/categories
_site/imprint
_site/pages
_site/post
_site/tags
_site/404.html
_site/atom.xml
_site/index.html
_site/rss.xml
_site/sitemap.txt
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc

# sass-cache files
*.sass-cache*