/* Partials */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_base\.scss}line{font-family:\000031}}
body {
  padding-top: 70px;
}

/* Responsive Overrides */
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_responsive\.scss}line{font-family:\000033}}
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_responsive\.scss}line{font-family:\000038}}
  div.container {
    padding: 0px 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_responsive\.scss}line{font-family:\0000310}}
  div.container div.page-header {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
/* Posts */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_post\.scss}line{font-family:\000033}}
article.post header {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_post\.scss}line{font-family:\000035}}
article.post header h1, article.post header h2 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_post\.scss}line{font-family:\000038}}
article.post header .category {
  display: inline-block;
  color: white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 6px;
  margin-left: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_post\.scss}line{font-family:\0000325}}
div.posts article div.date {
  font-size: 10px;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_post\.scss}line{font-family:\0000328}}
div.posts article div.date time {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}

/* This is for your Custom Content. */
/* Portfolio */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\000034}}
#projects {
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\000037}}
#projects .project-logo {
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\0000311}}
#projects .project {
  background-color: #222;
  text-align: center;
  min-height: 300px;
  box-shadow: 1px 1px 1px rgba(2, 2, 2, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\0000316}}
#projects .project:hover {
  background-color: #444;
  box-shadow: 1px 1px 1px rgba(2, 2, 2, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\0000321}}
#projects .project > a.thumbnail {
  color: inherit;
  border: none;
  display: block;
  padding: 10px;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\0000329}}
#projects .project img {
  display: block;
  height: 150px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\0000335}}
#projects .project p {
  text-align: left;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\0000342}}
.qr-code {
  padding: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\0000346}}
.tag_box.inline a, .tag_box a {
  -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\0000353}}
.dark body {
  background-color: #333;
  color: orange;
}
