/* Partials */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_base\.scss}line{font-family:\000036}}
#page-wrap {
  padding-top: 70px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_base\.scss}line{font-family:\0000310}}
nav, footer {
  padding-top: 5px;
  box-shadow: 0 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_base\.scss}line{font-family:\0000316}}
nav .fa {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_base\.scss}line{font-family:\0000320}}
nav .fa:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_base\.scss}line{font-family:\0000326}}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_base\.scss}line{font-family:\0000333}}
.bg .bg-title {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 50%;
  left: 0;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  color: #FFF;
  text-shadow: 0px 0px 30px #000;
  font-size: 3em;
  line-height: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_base\.scss}line{font-family:\0000347}}
.bg .bg-subtitle {
  color: #DDD;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_base\.scss}line{font-family:\0000350}}
.bg .bg-photo {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(/assets/themes/monker/img/gran_via.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_base\.scss}line{font-family:\0000360}}
.blink {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: blink;
  -moz-animation-name: blink;
  -ms-animation-name: blink;
  -o-animation-name: blink;
  animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-moz-keyframes blink {
  /* line 68, ../_sass/_base.scss */
  0%, 60% {
    opacity: 1;
  }

  /* line 71, ../_sass/_base.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  /* line 68, ../_sass/_base.scss */
  0%, 60% {
    opacity: 1;
  }

  /* line 71, ../_sass/_base.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  /* line 68, ../_sass/_base.scss */
  0%, 60% {
    opacity: 1;
  }

  /* line 71, ../_sass/_base.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes blink {
  /* line 68, ../_sass/_base.scss */
  0%, 60% {
    opacity: 1;
  }

  /* line 71, ../_sass/_base.scss */
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  /* line 68, ../_sass/_base.scss */
  0%, 60% {
    opacity: 1;
  }

  /* line 71, ../_sass/_base.scss */
  100% {
    opacity: 0;
  }
}

/* Responsive Overrides */
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_responsive\.scss}line{font-family:\000033}}
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_responsive\.scss}line{font-family:\000038}}
  div.container {
    padding: 0px 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_responsive\.scss}line{font-family:\0000310}}
  div.container div.page-header {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
/* Posts */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_post\.scss}line{font-family:\000033}}
article.post header {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_post\.scss}line{font-family:\000035}}
article.post header h1, article.post header h2 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_post\.scss}line{font-family:\000038}}
article.post header .category {
  display: inline-block;
  color: white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 6px;
  margin-left: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_post\.scss}line{font-family:\0000325}}
div.posts article div.date {
  font-size: 10px;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_post\.scss}line{font-family:\0000328}}
div.posts article div.date time {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}

/* This is for your Custom Content. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\000034}}
.qr-code {
  padding: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/_custom\.scss}line{font-family:\000038}}
.tag_box.inline a, .tag_box a {
  -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.2);
}

/* Portfolio */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_portfolio\.scss}line{font-family:\000033}}
#projects .project {
  height: 250px;
  padding: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_portfolio\.scss}line{font-family:\000036}}
#projects .project .image-crop {
  position: relative;
  height: 100%;
  max-width: 100%;
  background-color: #dddddd;
  overflow: hidden;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_portfolio\.scss}line{font-family:\0000313}}
#projects .project .image-crop img {
  min-width: 50%;
  min-height: 50%;
  max-width: 120%;
  max-height: 120%;
  height: auto;
  -webkit-filter: grayscale(0.8);
  -moz-filter: grayscale(0.8);
  filter: grayscale(0.8);
  margin: 30% -10%;
  -webkit-transition-property: margin;
  -moz-transition-property: margin;
  -o-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_portfolio\.scss}line{font-family:\0000325}}
#projects .project .image-crop figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_portfolio\.scss}line{font-family:\0000335}}
#projects .project .image-crop figcaption p, #projects .project .image-crop figcaption h1, #projects .project .image-crop figcaption h2, #projects .project .image-crop figcaption h3 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_portfolio\.scss}line{font-family:\0000341}}
#projects .project a:hover .image-crop, #projects .project a:focus .image-crop {
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_portfolio\.scss}line{font-family:\0000343}}
#projects .project a:hover .image-crop img, #projects .project a:focus .image-crop img {
  margin: 20% 20%;
  -webkit-filter: grayscale(0.2);
  -moz-filter: grayscale(0.2);
  filter: grayscale(0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_portfolio\.scss}line{font-family:\0000347}}
#projects .project a:hover .image-crop figcaption, #projects .project a:focus .image-crop figcaption {
  text-shadow: 0px 1px 10px #555;
}

/* Project page */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_portfolio\.scss}line{font-family:\0000357}}
.l-left-col img {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_portfolio\.scss}line{font-family:\0000360}}
.carousel .item > img {
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_portfolio\.scss}line{font-family:\0000364}}
.project-text {
  padding: 10px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_sticky-footer\.scss}line{font-family:\000034}}
html, body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_sticky-footer\.scss}line{font-family:\000038}}
#page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -75px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_sticky-footer\.scss}line{font-family:\0000318}}
.footer-push,
footer {
  height: 75px;
  max-height: 75px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_notification\.scss}line{font-family:\000031}}
.notification {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  position: absolute;
  right: 5px;
  margin: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/components\/_notification\.scss}line{font-family:\000037}}
.notification-bottom {
  bottom: 75px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/color-styles\/_light\.scss}line{font-family:\000032}}
html.light footer {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-width: 1px 0 0 0;
  border-style: solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/monker\/_sass\/color-styles\/_dark\.scss}line{font-family:\000032}}
html.dark body {
  background-color: #333;
  color: #DDD;
}
