@import url(http://fonts.googleapis.com/css?family=Advent+Pro);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
/* Partials */
/* Theme Vars */
/* Compass Vars */
/* Override some defaults */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000313}}
html, body {
  background-color: #2a2a2a;
  background: url(../images/bgs/body.png) repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000318}}
body {
  color: #bbb;
  text-shadow: 1px 1px 1px #000;
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000326}}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #999;
  text-rendering: optimizelegibility;
  font-family: 'Advent Pro', sans-serif;
  /*font-family: 'Pontano Sans', sans-serif;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000335}}
a {
  color: #4cb4e8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000337}}
a:hover {
  color: #d4edf9;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000344}}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000349}}
h1, h2 {
  margin: 0 0 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000353}}
h1 {
  font-size: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000357}}
h2 {
  font-size: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000361}}
pre, code {
  color: #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000365}}
pre > code {
  /* Reset box-shadow for pygments */
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000374}}
hr {
  border: none;
  background: rgba(0, 0, 0, 0.7);
  height: 1px;
}

/* Layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000381}}
.navbar {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000383}}
.navbar div.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000385}}
.navbar div.navbar-inner a.brand {
  padding: 10px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000390}}
.navbar div.navbar-inner ul.nav:first-child li a {
  padding: 12px 10px 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\0000399}}
.container > footer {
  margin-top: 20px;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003103}}
.container > footer p {
  text-align: center;
  /* center align it with the container */
}

/* Content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003110}}
.content {
  /* when there's no page-header */
  /* Wide column content */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003112}}
.content.no-header {
  padding-top: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003119}}
.content div.row div.span8 > img {
  display: block;
  margin: 10px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003125}}
.content div.row div.span4 h4 {
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003127}}
.content div.row div.span4 h4:first {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003131}}
.content p {
  padding-bottom: 15px;
  line-height: 25px;
  margin: 0;
}

/* Page header tweaks */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003139}}
.page-header {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 20px 20px 10px;
  margin: 0px -20px 20px;
  z-index: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003152}}
.page-header h1 {
  color: #eee;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003158}}
.topbar .btn {
  border: 0;
}

/* Pagination */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003165}}
div.pagination li a {
  -webkit-box-shadow: 0px 1px 1px black;
  -moz-box-shadow: 0px 1px 1px black;
  box-shadow: 0px 1px 1px black;
}

/* Buttons */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003173}}
a.btn, a.btn.disabled {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 2px #000;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003184}}
a.btn:hover, a.btn.disabled:hover {
  background: rgba(255, 255, 255, 0.05);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003187}}
a.btn.disabled, a.btn.disabled.disabled {
  color: rgba(255, 255, 255, 0.3);
}

/* Tags */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003193}}
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003199}}
.tag_box.inline li {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003203}}
.tag_box li {
  line-height: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003207}}
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003212}}
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003220}}
.tag_box.inline a,
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 3px;
  text-decoration: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003232}}
.tag_box.inline a:hover,
.tag_box a:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Page-specific */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003239}}
div.content div#page-index {
  padding-top: 30px !important;
}

/* Zocial Overrides */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003245}}
.navbar a.zocial {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003251}}
.zocial.googleplus:focus,
.zocial.googleplus:hover {
  color: #e01d30 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003256}}
.zocial.twitter:focus,
.zocial.twitter:hover {
  color: #46c0fb !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003262}}
.zocial.linkedin:focus,
.zocial.linkedin:hover {
  color: #50a1cb !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_base\.scss}line{font-family:\00003267}}
.zocial.rss:focus,
.zocial.rss:hover {
  color: #fb9d3a !important;
}

/* Responsive Overrides */
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_responsive\.scss}line{font-family:\000033}}
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_responsive\.scss}line{font-family:\000038}}
  div.container {
    padding: 0px 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_responsive\.scss}line{font-family:\0000310}}
  div.container div.page-header {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
/* Posts */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_post\.scss}line{font-family:\000033}}
article.post header {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_post\.scss}line{font-family:\000035}}
article.post header h1, article.post header h2 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_post\.scss}line{font-family:\000038}}
article.post header .category {
  display: inline-block;
  color: white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 6px;
  margin-left: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_post\.scss}line{font-family:\0000325}}
div.posts article div.date {
  font-size: 10px;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_post\.scss}line{font-family:\0000328}}
div.posts article div.date time {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}

/* This is for your Custom Content. */
/* Portfolio */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\000034}}
#projects {
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\000037}}
#projects .project-logo {
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000311}}
#projects .project {
  background-color: #222;
  text-align: center;
  min-height: 300px;
  box-shadow: 1px 1px 1px rgba(2, 2, 2, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000316}}
#projects .project:hover {
  background-color: #444;
  box-shadow: 1px 1px 1px rgba(2, 2, 2, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000321}}
#projects .project > a.thumbnail {
  color: inherit;
  border: none;
  display: block;
  padding: 10px;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000329}}
#projects .project img {
  display: block;
  height: 150px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000335}}
#projects .project p {
  text-align: left;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000342}}
.qr-code {
  padding: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000346}}
.carousel .item > img {
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000350}}
#projectCarousel .item > img {
  height: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000354}}
.alert {
  background-color: rgba(194, 113, 0, 0.5);
  border-color: rgba(168, 100, 4, 0.6);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000359}}
.alert-info {
  background-color: rgba(58, 135, 173, 0.5);
  border-color: rgba(26, 60, 78, 0.6);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000364}}
.mobile-cutout {
  background-image: url("../../../images/nexus7.png");
  background-repeat: no-repeat;
  margin: 0px 0px 0px 0px;
  padding: 120px 0px 0px 66px;
  width: 544px;
  height: 884px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000375}}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000381}}
.content {
  margin-top: 2.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/miguelo\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/hooligan\/_sass\/_custom\.scss}line{font-family:\0000386}}
* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
