/* This is for your Custom Content. */

/* Portfolio */
#projects{
  list-style-type: none;

  .project-logo {
    box-shadow: none;
  }

  .project {
    background-color: #222;
    text-align: center;
    min-height: 300px;
    box-shadow: 1px 1px 1px rgba(2,2,2,0.5);
    &:hover {
      background-color:#444;
      box-shadow: 1px 1px 1px rgba(2,2,2,0.5);
    }
  
    &>a.thumbnail {
      color: inherit;
      border: none;
      display: block;
      padding: 10px;
      box-shadow: none;
    }

    img {
      display: block;
      height: 150px;
      margin: 0 auto;
    }

    p {
      text-align: left;
      padding: 5px;
    }
  }
}

.qr-code{
  padding: 15px;
}

.carousel .item>img {
  margin: 0 auto;
}

#projectCarousel .item>img{
  height: 500px;
}

