/* This is for your Custom Content. */

/* Portfolio */
#projects{
  list-style-type: none;

  .project-logo {
    box-shadow: none;
  }

  .project {
    background-color: #222;
    text-align: center;
    min-height: 300px;
    box-shadow: 1px 1px 1px rgba(2,2,2,0.5);
    &:hover {
      background-color:#444;
      box-shadow: 1px 1px 1px rgba(2,2,2,0.5);
    }
  
    &>a.thumbnail {
      color: inherit;
      border: none;
      display: block;
      padding: 10px;
      box-shadow: none;
    }

    img {
      display: block;
      height: 150px;
      margin: 0 auto;
    }

    p {
      text-align: left;
      padding: 5px;
    }
  }
}

.qr-code{
  padding: 15px;
}

.carousel .item>img {
  margin: 0 auto;
}

#projectCarousel .item>img{
  height: 500px;
}

.alert{
  background-color: rgba(194, 113, 0, 0.5);
  border-color: rgba(168, 100, 4, 0.6);
}

.alert-info{
  background-color: rgba(58, 135, 173, 0.5);
  border-color: rgba(26, 60, 78, 0.6);
}

.mobile-cutout{
  background-image:url('../../../images/nexus7.png');
  background-repeat:no-repeat;
  margin: 0px 0px 0px 0px;
  padding: 120px 0px 0px 66px;
  width:544px;
  height:884px;  
  margin: 0 auto;
}

// Navbar fixed
.navbar{
  top: 0;
  position: fixed;  
  width: 100%;
  z-index: 10;
}

.content{
  margin-top: 2.5em;
}

// No border border-radius: 
* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
