// Monakai colors
$bg-color: rgb(39, 40, 34);
$fg-color: rgb(248, 248, 242);
$green-color: rgb(166, 226, 46);
$pink-color: rgb(249, 38, 114);
$yellow-color: rgb(230, 219, 116);
$blue-color: rgb(102, 217, 239);
$gray-color: rgb(117, 113, 94);
$purple-color: rgb(174, 129, 255);
$orange-color: rgb(253, 151, 31);

/* Colors overrides */
