#projects {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 200px;

  li {
    background-color: $bg-dark-color;
    @include transition(all, 0.75s, ease);

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      text-decoration: none;

      &:before {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 40%;
        left: 50%;
        margin: -14px 0 0 -16px;
      }
      figure {
        height: 100%;
        width: 100%;

        img {
          width: 100%;
          vertical-align: top;
          @include filter(blur(1px));
          @include transition(all, 1s, ease);
        }
        figcaption {
          width: 100%;
          bottom: 0;
          position: absolute;
          padding: 10px;
          color: $fg-dark-color;
          @include opacity(1);
          @include background-image(linear-gradient(rgba($bg-dark-color, .5), $bg-dark-color));
          @include transition(all, 0.75s, ease);
          h3 {
            margin-top: 0;
          }
        }
      }

    }
    &:hover, &:focus {
      @include transition(all, 0.75s, ease);
      figure {
        img {
          @include filter(blur(0));
          @include transition(all, 3s, ease);
        }
        figcaption {
          bottom: -50%;
          @include opacity(0.5);
          @include transition(all, 0.75s, ease);
        }
      }
    }
  }
}

