$sidebar-width: 320px;
$toggle-width: 50px;

body.sidebar-closed {
  .sidebar-wrapper {
    left: $toggle-width - $sidebar-width;
    .header-background {
      filter: blur(0);
      -webkit-filter: blur(0);
    }
    .sidebar-content {
      opacity: 0.5;
    }
  }
  .container {
    padding-left: $toggle-width;
  }
}

.sidebar-wrapper {
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  width: $sidebar-width;
  position: fixed;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  .sidebar-toggle-button {
    position: absolute;
    right: -25px;
    top: 25px;

    i {
      padding: 10px;
    }

  }

  .sidebar-nav {
    height: 100%;
    opacity: 1;
    background-color: #314043;
    color: #e3e3e3;
    border: none;
    border-radius: 0;
    
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;

    .sidebar-icon {
      position: relative;
      height: 15%;
      padding-top: 20px;
      img {
        height: 65%;
        margin: 0 auto;
        display: block;
      }
    }

    .sidebar-about {
      padding: 5%;
    }

    .nav-main {
      margin: 0 !important;
      float: none;
      li {
        float: none;
        display: block;
        a {
          padding-top: 12px;
          padding-bottom: 12px;
          color: #f2f2f2;
          &:hover {
            background-color: rgba(0,0,0,.03);
          }
          &.active{
            background-color: rgba(0,0,0,0.5);
          }
        }
      }
    }

    .social-links {
      position: absolute;
      bottom: 0;
      padding: 15px;

      a {
        padding: 5px;
        color: #ffffff;
        i {
          padding: 7px;
        }
      }

      li {
        margin: 0 5px;
        float: left;
      }

      .rss-link {
        background: $bc-rss;
      }
      .google-plus-link {
        background: $bc-google-plus;
      }
      .github-link {
        background: $bc-github;
      }
      .twitter-link {
        background: $bc-twitter;
      }
      .facebook-link {
        background: $bc-facebook;
      }
      .linkedin-link {
        background: $bc-linkedin;
      }
      .stackoverflow-link {
        background: $bc-stackoverflow;
      }
    }
  }

}

// Content
.container {
  padding-left: $sidebar-width;
  margin-left: 25px + 15px; // Bootstrap rows have -15 margin on both sides
  margin-top: 10px;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}
