.posts-collate {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  list-style-type: none;

  li {
    padding: 1em;

    &:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    &:hover {
      background: rgba(6,6,6,0.2);
    }
  }

  article.post {
    position: relative;
    width: 50%;
    float: left;
    text-align: right;
  }

  article.link {
    position: relative;
    width: 50%;
    float: right;
  }

  .flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;

    .flag {
      position: relative;
      display: inline;
      border-radius: 0;
      font-weight: 600;
      text-align: left;
      font-size: 0.8em;
      line-height: 1.5em;
    }
  }


  .date-wrapper {
    display: inline-block;
    line-height: 1em;
    font-size: 0.7em;
    color: #666;
    vertical-align: middle;

    .date {
      display: inline-block;
    }
  }

  article.post .date-wrapper {
  }

  article.link .date-wrapper {
  }

}

// Mobile style

@media screen and (max-width: 600px) {

  .posts-collate {
    width: 100%;

    article.post,
    article.link {
      float: none;
      width: 100%;

      text-align: center;
    }

    .flag-wrapper {
      text-align: center;

      .flag {
        z-index: 15;
      }
    }

    .date-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
    }

    article.post .date-wrapper {
    }

    article.link .date-wrapper {
    }

    .tags {
      position: relative;

      z-index: 15;
    }

    article.post .tags,
    article.link .tags {
      position: relative;
      z-index: 15;
    }
  }

}
