/* This is for your Custom Content. */

.qr-code{
  padding: 15px;
}

.tag_box.inline a, .tag_box a{
  -moz-box-shadow:    inset 0 0 1px 1px rgba(white, 0.2);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(white, 0.2);
  box-shadow:         inset 0 0 1px 1px rgba(white, 0.2);
}
