/* This is for your Custom Content. */

/* Portfolio */
#projects {
  .project {
    position: relative;
    height: 250px;
    max-width: 500px;
    padding: 2px;
    .image-crop {
      height: 100%;
      max-width: 100%;
      background-color: $backgroundColor2;
      overflow: hidden;
      vertical-align: middle;
      img {
        min-width: 50%;
        min-height: 50%;
        max-width: 120%;
        max-height: 120%;
        height: auto;
        margin: 0 10%;
        @include filter(grayscale(0.2));
      }
      figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: $backgroundColor;
        @include opacity(0);
      }
      &:hover {
        background-color: $backgroundColor;
        img {
          @include filter(grayscale(0.8));
          margin: 40% -10%;
        }
        figcaption {
          @include opacity(0.8);
        }
      }
    }
  }
}

.qr-code{
  padding: 15px;
}

.tag_box.inline a, .tag_box a{
  -moz-box-shadow:    inset 0 0 1px 1px rgba(white, 0.2);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(white, 0.2);
  box-shadow:         inset 0 0 1px 1px rgba(white, 0.2);
}
