/** Variables and mixins **/
/* Partials */
/* Colors overrides */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_base\.scss}line{font-family:\0000317}}
.navbar.navbar,
.navbar-default.navbar,
.nav-tabs,
.btn-primary {
  background-color: #272822 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_base\.scss}line{font-family:\0000319}}
.navbar.navbar a:hover, .navbar.navbar a:focus,
.navbar-default.navbar a:hover,
.navbar-default.navbar a:focus,
.nav-tabs a:hover,
.nav-tabs a:focus,
.btn-primary a:hover,
.btn-primary a:focus {
  color: #a6e22e !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_base\.scss}line{font-family:\0000323}}
.navbar.navbar .active a, .navbar.navbar .active i,
.navbar-default.navbar .active a,
.navbar-default.navbar .active i,
.nav-tabs .active a,
.nav-tabs .active i,
.btn-primary .active a,
.btn-primary .active i {
  color: #ae81ff !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_base\.scss}line{font-family:\0000329}}
a, a:hover, a:focus {
  color: #272822;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_base\.scss}line{font-family:\0000333}}
pre {
  background-color: inherit;
  border-radius: 0;
  border: none;
  -moz-box-shadow: inset 0 0 15px black;
  -webkit-box-shadow: inset 0 0 15px black;
  box-shadow: inset 0 0 15px black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\000035}}
body.sidebar-closed .sidebar-wrapper {
  left: -270px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\000037}}
body.sidebar-closed .sidebar-wrapper .header-background {
  filter: blur(0);
  -webkit-filter: blur(0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000311}}
body.sidebar-closed .sidebar-wrapper .sidebar-content {
  opacity: 0.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000316}}
body.sidebar-closed .sidebar-toggle i {
  color: #ae81ff !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000320}}
body.sidebar-closed .container {
  margin-left: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000325}}
.sidebar-wrapper {
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  width: 320px;
  position: fixed;
  background-color: #272822;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000338}}
.sidebar-wrapper .sidebar-toggle {
  position: absolute;
  right: -25px;
  top: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000344}}
.sidebar-wrapper .sidebar-content {
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000353}}
.sidebar-wrapper .sidebar-content .sidebar-header {
  height: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000357}}
.sidebar-wrapper .sidebar-content .header-background {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 100%;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000367}}
.sidebar-wrapper .sidebar-content .sidebar-icon img {
  position: absolute;
  top: 10px;
  width: 33%;
  margin: 0 33%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000374}}
.sidebar-wrapper .sidebar-content .sidebar-about {
  padding: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000378}}
.sidebar-wrapper .sidebar-content .sidebar-nav {
  height: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000381}}
.sidebar-wrapper .sidebar-content .sidebar-nav .nav-main {
  margin: 0 !important;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000384}}
.sidebar-wrapper .sidebar-content .sidebar-nav .nav-main:not {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000387}}
.sidebar-wrapper .sidebar-content .sidebar-nav .nav-main li {
  float: none;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000390}}
.sidebar-wrapper .sidebar-content .sidebar-nav .nav-main li a {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000397}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links {
  position: absolute;
  bottom: 0;
  padding: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003101}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links li {
  margin: 0 5px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003106}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .rss-link {
  background: #ee802f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003109}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .google-plus-link {
  background: #dd4b39;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003112}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .github-link {
  background: #171515;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003115}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .twitter-link {
  background: #55acee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003118}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .facebook-link {
  background: #3b5998;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003121}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .linkedin-link {
  background: #0e76a8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003124}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .stackoverflow-link {
  background: #ef8236;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003135}}
.container {
  padding-left: 320px;
  margin-left: 40px;
  margin-top: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sticky-footer\.scss}line{font-family:\000034}}
html, body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sticky-footer\.scss}line{font-family:\000038}}
#page-wrap {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -90px;
  padding-bottom: 90px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sticky-footer\.scss}line{font-family:\0000318}}
.footer-push,
footer {
  height: 90px;
  max-height: 90px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\000031}}
.posts-collate {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\000039}}
.posts-collate li {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000312}}
.posts-collate li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000320}}
.posts-collate li a {
  background-color: #f8f8f2 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000322}}
.posts-collate li a article {
  color: black;
  padding: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000335}}
.posts-collate .flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000340}}
.posts-collate .flag-wrapper .flag {
  position: relative;
  display: inline;
  border-radius: 0;
  font-weight: 600;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000352}}
.posts-collate .date-wrapper {
  display: inline-block;
  line-height: 1em;
  font-size: 0.7em;
  color: #75715e;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000359}}
.posts-collate .date-wrapper .date {
  display: inline-block;
}

@media screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000376}}
  .posts-collate {
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000380}}
  .posts-collate article.post,
  .posts-collate article.link {
    float: none;
    width: 100%;
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000387}}
  .posts-collate .flag-wrapper {
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000390}}
  .posts-collate .flag-wrapper .flag {
    z-index: 15;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\0000395}}
  .posts-collate .date-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\00003108}}
  .posts-collate .tags {
    position: relative;
    z-index: 15;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_posts-collate\.scss}line{font-family:\00003115}}
  .posts-collate article.post .tags,
  .posts-collate article.link .tags {
    position: relative;
    z-index: 15;
  }
}
