/** Variables and mixins **/
/* Partials */
/* Colors overrides */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\000035}}
body.sidebar-closed .sidebar-wrapper {
  left: -270px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\000037}}
body.sidebar-closed .sidebar-wrapper .header-background {
  filter: blur(0);
  -webkit-filter: blur(0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000311}}
body.sidebar-closed .sidebar-wrapper .sidebar-content {
  opacity: 0.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000316}}
body.sidebar-closed .sidebar-toggle i {
  color: #ae81ff !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000320}}
body.sidebar-closed .container {
  padding-left: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000325}}
.sidebar-wrapper {
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  width: 320px;
  position: fixed;
  background-color: #272822;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000338}}
.sidebar-wrapper .sidebar-toggle {
  position: absolute;
  right: -25px;
  top: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000344}}
.sidebar-wrapper .sidebar-content {
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000353}}
.sidebar-wrapper .sidebar-content .sidebar-header {
  height: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000357}}
.sidebar-wrapper .sidebar-content .header-background {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 100%;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000367}}
.sidebar-wrapper .sidebar-content .sidebar-icon img {
  position: absolute;
  top: 10px;
  width: 33%;
  margin: 0 33%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000374}}
.sidebar-wrapper .sidebar-content .sidebar-about {
  padding: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000378}}
.sidebar-wrapper .sidebar-content .sidebar-nav {
  height: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000381}}
.sidebar-wrapper .sidebar-content .sidebar-nav .nav-main {
  margin: 0 !important;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000384}}
.sidebar-wrapper .sidebar-content .sidebar-nav .nav-main:not {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000387}}
.sidebar-wrapper .sidebar-content .sidebar-nav .nav-main li {
  float: none;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000390}}
.sidebar-wrapper .sidebar-content .sidebar-nav .nav-main li a {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\0000397}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links {
  position: absolute;
  bottom: 0;
  padding: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003101}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links li {
  margin: 0 5px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003106}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .rss-link {
  background: #ee802f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003109}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .google-plus-link {
  background: #dd4b39;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003112}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .github-link {
  background: #171515;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003115}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .twitter-link {
  background: #55acee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003118}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .facebook-link {
  background: #3b5998;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003121}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .linkedin-link {
  background: #0e76a8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003124}}
.sidebar-wrapper .sidebar-content .sidebar-nav .social-links .stackoverflow-link {
  background: #ef8236;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datos\/ws\/ws-github\/miguelos\.github\.io\/assets\/themes\/material-monker\/_sass\/partials\/_sidebar\.scss}line{font-family:\00003135}}
.container {
  padding-left: 320px;
  margin-left: 40px;
  margin-top: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
