---
layout: page
---

<div class="span2">
{% if page.image %}
  <div>
    <img class="img-polaroid" src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" />
  </div>
{% endif %}
{% if page.qr-code %}
  <div class="qr-code">
    <img src="{{ page.qr-code.url }}" title="{{ page.title }} QR code" alt="{{ page.title }} QR code" />
  </div>
{% endif %}
{% if page.team %}
  <div class="team-description">
      <h3>{{ page.title }} Team:</h3>
      <p>{{ page.team }}</p>
  </div>
{% endif %}
</div>

{% if page.images %}
<div id="projectCarousel" class="carousel slide span10">
  <div class="carousel-inner">
    {% for image in page.images %}
    <div class="item{% if forloop.first %} active{% endif %}">
      <img src="{{ image[1].url }}" alt="{{ image[1].alt }}">
      {% if image[1].title or image[1].description%}
      <div class="carousel-caption">
        {% if image[1].title %}
        <h4>{{ image[1].title }}</h4>
        {% endif %}
        {% if image[1].description %}
        <p>{{ image[1].description }}</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#projectCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#projectCarousel" data-slide="next">&rsaquo;</a>
</div>
{% endif %}


<div class="span10">
  <h1>{{ page.title }}</h1>
  <p>{{ page.description }}</p>

  {% if page.links %}
  <h2>Links</h2>
  {% for link in page.links %}
    <div class="website" id="{{ link[0] }}">{{ link[0] }}: <a href="{{ link[1] }}">{{ link[1] }}</a></div>
  {% endfor %}
  <br/>
  {% endif %}

  {% if page.use-of %}
    <h2>Use of</h2>
    {% for cat in page.use-of %}
    <div class="span4 tag_box">
      <h3>{{ cat[0] }}</h3>
      <ul>
        {% for elem in cat[1] %}
        <li>
          <a {% if elem[1].link %} href="{{ elem[1].link }}" {% endif %}>{{ elem[0] }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  {% endif %}
</div>
