---
layout: page
---
{% if page.image %}
  <div class="span5 logo">
    <img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" />
  </div>
{% endif %}

<div class="span10">
  <h1>{{ page.title }}</h1>
  <p>{{ page.description }}</p>

  {% if page.website %}
    <div class="website"><a href="{{ page.website }}">{{ page.website }}</a></div>
  {% endif %}
</div>

{% if page.team %}
  <div id="team-description" class="span16">
    <h3>{{ page.title }} Team:</h3>
    {{ page.team }}
  </div>
{% endif %}